.wrapper{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	padding: 50px;
}
.main-page{
	max-width: 1200px;
}
p {
	max-width: 900px;
}
ul {
	max-width: 800px;
}
img {
	max-width: 100%;
}